<div class="w3-display-container w3-wide bgimg" id="home">
  <div class="w3-display-middle w3-text-black w3-center">
    <p>Yesterday's reality checks: <%= yesterdays_checks_count   %>
      <p>
        <h3>Last reality check: <u>
            <%= call_time  %>
            ago</u></h3>
        <h1 class="w3-jumbo"><%= current_user.reality_checks.count%> RC's today!</h1>
        <h2><%= DateTime.current.strftime("%A, %B %d") %></h2>
        <!--list of realuuty checks -->
        <button class=".btn" onclick="revealAll()"> Reveal All</button>
        <div id="collapsed_reality_checks">
          <table>
            <thead>
              <tr>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% if current_user.reality_checks != nil %>
                <% current_user.reality_checks.each_with_index do |reality_check, i| %>
                  <% prev_time_stamp = reality_check.created_at %>
                  <tr>
                    <td><%= i + 1%></td>
                    <td><%= reality_check.created_at.strftime("%I:%M%P")%></td>
                    <td>
                      <% unless i == current_user.reality_checks.count %>
                        <%#= (reality_check.created_at - prev_time_stamp).strftime("%I:%M%P")  %>
                      <% end %>
                    </td>
                    <td>
                      Time Gap: 
                    </td>
                  <%end%>
                <% else %>
                  <h3>No Reality Checks</h3>
                <% end %>
                <!-- end format and display time gap-->
              </td>
               </tr>
            <!-- End Unless it's the last reality check,.... -->
          </tbody>
        </table>
      </div>
      <p>Longest time gap today: <%#=Time.at(g).utc.strftime("%H:%M:%S")%></p>
    </div>
  </div>