<!-- gauge -->
    <script type="text/javascript" src="../assets/gauge.min.js"></script>

    <!-- css -->
      <style type="text/css">
#gauge1-txt, #gauge2-txt, #gauge3-txt {
  position: absolute;
  font-size: 2.6em;
  /* border: 1px solid green; */
  left: 50%;                         /*  safari  */
  top: 50%;                          /*  safari  */
  transform: translate(-50%,-50%);   /*  safari  */
}

.gauge_container{
  display: flex;
  height: 100px;
  width: 100px;
  margin-left: 5px;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
  position: relative;                /*  safari  */
  /* border: 1px solid yellow; */
}

#gauge, #gauge_2, #gauge_3{
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;                         /*  safari  */
  top: 50%;                          /*  safari  */
  transform: translate(-50%,-50%);   /*  safari  */
}

.gauge_level_label {
  width: 110px;
  /* border: 1px solid brown; */
  font-size: .6em;
  color: hsl( 0, 0%, 30%);
  padding-left: 5px;


}

      </style>

    <!-- javascript -->
    <script type="text/javascript">//<![CDATA[

    function gauge(score, id, text, color){
      var opts = {
        angle: 0.35, // The span of the gauge arc
        lineWidth: 0.1, // The line thickness
        radiusScale: 1, // Relative radius
        pointer: {
          length: 0.6, // // Relative to gauge radius
          strokeWidth: 0.035, // The thickness
          color: '#000000' // Fill color
        },
        limitMax: false,     // If false, max value increases automatically if value > maxValue
        limitMin: false,     // If true, the min value of the gauge will be fixed
        colorStart: '#F70FFF',   // Colors
        colorStop: color,    // just experiment with them
        strokeColor: '#EEEEEE',  // to see which ones work best for you
        generateGradient: true,
        highDpiSupport: true,     // High resolution support

      };
      var target = document.getElementById(id); // your canvas element
      var gauge = new Donut(target).setOptions(opts); // create sexy gauge!
      gauge.maxValue = 100; // set max gauge value
      gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
      gauge.animationSpeed = 32; // set animation speed (32 is default value)
      gauge.set(score); // set actual value

    gauge.setTextField(document.getElementById(text));
    //gauge.set(20); // set actual value
    }//]]>

    </script>

    <!-- <div style= "width:100%; height:100%; display: flex;
  justify-content: center;
  align-items: center; border: 2px dotted green;">
    <canvas id="gauge" height="100" width="100" ></canvas>
    <span id="gauge1-txt"></span>
  </div> -->


<!-- gauge -->






<header class="w3-display-container w3-wide bgimg" id="home">

  <div class="w3-display-middle w3-text-black w3-center" >

<!--timeline-->
<script src="../assets/d3.v2.min.js" type="application/javascript"></script>
<script src="../assets/timeknots.js" type="application/javascript"></script>

<div id="timeline1" style="width:500px; margin:auto;"></div>
<script type="text/javascript">
var realityChecks = [
 // {date:"2018-03-13T12:42:09"},
 // {date:"2018-03-13T13:14:02"},
 // {date:"2018-03-13T13:14:07"}
 // {date:"2018-03-13T12:42:09"},
 // {date:"2018-03-13T13:14:02"},
 // {date:"2018-03-13T13:14:07"}
];
<% @reality_checks_today.each do |rc| %>
realityChecks.push({name:"", date:"<%=rc.created_at.to_s[0..9]%>T<%=rc.created_at.to_s[11..18]%>"})
<%end%>

// realityChecks.push(<%=@reality_checks_score.first.to_s[0..9]%>T<%=@reality_checks_score.first.to_s[12..19]%>)
TimeKnots.draw("#timeline1", realityChecks, {dateFormat: "%H:%M", radius: 3, color: "purple", width:500, showLabels: true, labelFormat: "%H:%M", lineWidth:2, background:"lightblue"});



</script>


<!--timeline end-->
    <p>Lucid mindset score:</p>

    <!-- gauge -->

        <div style= "width:100%; height:auto; margin-top: 10px;
        display: flex;
      justify-content: center;
      align-items: center;
      <!-- border: 3px solid purple; -->
      ">
<div style= "width:100%; height:auto; margin-top: 10px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
<!-- border: 1px solid orange; -->
">
        <div style= "width:auto; height:100px;
        display: flex;
      justify-content: space-between;
      align-items: center;
      <!-- border: 2px dotted green; -->

      ">

        <div class = "gauge_container"><canvas id="gauge" height="100" width="100"></canvas>
        <span id="gauge1-txt"></span></div>
        <div class = "gauge_container"><canvas id="gauge_2" height="100" width="100" ></canvas>
        <span id="gauge2-txt"></span></div>
        <div class = "gauge_container"><canvas id="gauge_3" height="100" width="100"  ></canvas>
        <span id="gauge3-txt"></span></div>

      </div>
      <div   style= "
      display: flex;
      height: auto;
      width: auto;
      margin-left: 5px;
      margin-right: 5px;
      justify-content: space-between;
      align-items: center;
      position: relative;
      <!-- border: 1px solid black; -->
      ">
<div class="gauge_level_label">ultra</div><div class="gauge_level_label">moderate</div><div class="gauge_level_label">beginner</div>
    </div>

        <script>
        document.getElementById("gauge").innerHTML = window.gauge(<%=@score_1%>, "gauge", "gauge1-txt", "#ff0066");
        document.getElementById("gauge_2").innerHTML = window.gauge(<%=@score_2%>, "gauge_2", "gauge2-txt", "#cc33ff" );
        document.getElementById("gauge_3").innerHTML = window.gauge(<%=@score_3%>, "gauge_3", "gauge3-txt", "#35B4DB");

        </script>
      </div>


    </div>
    <!-- gauge end -->
    <p>Yesterday's reality checks: <%= @yesterdays_reality_checks.count %><p>
      <h3>Last reality check: <u>
      <% if @time_since_last_check.utc.strftime("%H").to_i == 0 && @time_since_last_check.utc.strftime("%M").to_i == 0  %>
      <%= @time_since_last_check.utc.strftime("%S") %> second/s
      <% elsif @time_since_last_check.utc.strftime("%H").to_i == 0 && @time_since_last_check.utc.strftime("%M").to_i > 0  %>
      <%= @time_since_last_check.utc.strftime("%M") %> minute/s
      <% elsif @time_since_last_check.utc.strftime("%H").to_i > 0 %>
      <%= @time_since_last_check.utc.strftime("%H") %> hour/s
      <%end%>
     ago</u></h3>
    <h1 class="w3-jumbo"><%= @reality_checks_today.count %> RC's today!</h1>

    <h2><%= @today.strftime("%A, %B %d") %></h2>
<!--list of realuuty checks -->
    <button class=".btn" onclick="myFunction()"> Reveal All</button>

    <div id="collapsed_reality_checks">
      <table>
        <thead>
          <tr>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @reality_checks_today.each do |reality_check| %>
            <tr>
              <% @number += 1%>
              <td><%= @number %>. <%=reality_check.created_at.strftime("%I:%M%P")%>

          </td> </tr>
          <% end %>
        </tbody>
      </table>

    </div>


<!--end list of realuuty checks -->
<%unless @reality_checks_today.count <= 1%>
<% g=@time_gaps.sort.last%>

<p>Longest time gap today: <%=Time.at(g).utc.strftime("%H:%M:%S")%></p>
<p>Next segment starts in: <%=@next_segment_start.utc.strftime("%M")%> minutes and <%=@next_segment_start.utc.strftime("%S")%> seconds</p>
<%end%>









  </div>
</header>
