<!-- gauge -->
    <script type="text/javascript" src="../assets/gauge.min.js"></script>

    <!-- css -->
      <style type="text/css">
        #gauge1-txt {
        font-weight: bold;
        font-size:2em;
        display: block;
        text-align: center;
        /* border: 2px dashed blue; */
    }

    #gauge {
      width: 100%;
      height: 100%;
      position: absolute;
      /* border: 1px solid red; */

    }
      </style>

    <!-- javascript -->
    <script type="text/javascript">//<![CDATA[
    window.onload=function(){
      var opts = {
        angle: 0.35, // The span of the gauge arc
        lineWidth: 0.1, // The line thickness
        radiusScale: 1, // Relative radius
        pointer: {
          length: 0.6, // // Relative to gauge radius
          strokeWidth: 0.035, // The thickness
          color: '#000000' // Fill color
        },
        limitMax: false,     // If false, max value increases automatically if value > maxValue
        limitMin: false,     // If true, the min value of the gauge will be fixed
        colorStart: '#F70FFF',   // Colors
        colorStop: '#35B4DB',    // just experiment with them
        strokeColor: '#EEEEEE',  // to see which ones work best for you
        generateGradient: true,
        highDpiSupport: true,     // High resolution support

      };
      var target = document.getElementById('gauge'); // your canvas element
      var gauge = new Donut(target).setOptions(opts); // create sexy gauge!
      gauge.maxValue = 100; // set max gauge value
      gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
      gauge.animationSpeed = 32; // set animation speed (32 is default value)
      gauge.set(<%=@gauge_set%>); // set actual value

    gauge.setTextField(document.getElementById("gauge1-txt"));
    //gauge.set(20); // set actual value
    }//]]>

    </script>

    <!-- <div style= "width:100%; height:100%; display: flex;
  justify-content: center;
  align-items: center; border: 2px dotted green;">
    <canvas id="gauge" height="100" width="100" ></canvas>
    <span id="gauge1-txt"></span>
  </div> -->


<!-- gauge -->






<header class="w3-display-container w3-wide bgimg" id="home">

  <div class="w3-display-middle w3-text-black w3-center">
    <!-- gauge -->
        <div style= "width:100%; height:100px; margin-top: 10px;
        display: flex;
      justify-content: center;
      align-items: center;
      <!-- border: 3px dotted purple; -->
      ">
        <div style= "width:100px; height:100px;
        display: flex;
      justify-content: center;
      align-items: center;
      <!-- border: 2px dotted green; -->

      ">
        <canvas id="gauge" height="100" width="100" ></canvas>
        <span id="gauge1-txt"></span>
      </div>
    </div>
    <!-- gauge end -->
    <p>Yesterday's reality checks: <%= @yesterdays_reality_checks.count %><p>
      <h3>Last reality check: <u>
      <% if @time_since_last_check.utc.strftime("%H").to_i == 0 && @time_since_last_check.utc.strftime("%M").to_i == 0  %>
      <%= @time_since_last_check.utc.strftime("%S") %> second/s
      <% elsif @time_since_last_check.utc.strftime("%H").to_i == 0 && @time_since_last_check.utc.strftime("%M").to_i > 0  %>
      <%= @time_since_last_check.utc.strftime("%M") %> minute/s
      <% elsif @time_since_last_check.utc.strftime("%H").to_i > 0 %>
      <%= @time_since_last_check.utc.strftime("%H") %> hour/s
      <%end%>
     ago</u></h3>
    <h1 class="w3-jumbo"><%= @reality_checks_today.count %> RC's today!</h1>

    <h2><%= @today.strftime("%A, %B %d") %></h2>
<!--list of realuuty checks -->
    <button class=".btn" onclick="myFunction()"> Reveal All</button>

    <div id="collapsed_reality_checks">
      <table>
        <thead>
          <tr>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @reality_checks_today.each do |reality_check| %>
            <tr>
              <% @number += 1%>
              <td><%= @number %>. <%=reality_check.created_at.strftime("%I:%M%P")%>

          </td> </tr>
          <% end %>
        </tbody>
      </table>

    </div>


<!--end list of realuuty checks -->
<%unless @reality_checks_today.count <= 1%>
<% g=@time_gaps.sort.last%>

<p>Longest time gap today: <%=Time.at(g).utc.strftime("%H:%M:%S")%></p>
<%end%>









  </div>
</header>
